body {
    margin: 0;
    background-color: #f1ecec;
    color: rgb(255, 250, 250);
    font-family: Arial, Helvetica, sans-serif;
}

/* GRID PRINCIPAL */
.container {
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    min-height: 100vh;
    align-items: start;
}

.logo {
    font-size: 24px;
    gap: 10px;
}

/* SIDEBAR */
.sidebar {
    display: grid;
    grid-template-rows: 80px repeat(4, 50px);
    padding: 20px;
    border-right: 1px solid #140b0b;
    gap: 20px;
    position: sticky; /* se quede “pegado” arriba cuando haces scroll. */
    top: 0;
    height: 100vh;
}

.item {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: black;
    padding: 10px;
    border-radius: 8px;
    transition: 0.2s; 
}
.item:hover { 
    background-color: #c03a3a;
    transform: scale(1.03); /* cambia el fondo al pasar el mouse */
    
}

.item img {
    width: 32px;
}

/* FEED */
.feed {
    display: grid;
    justify-content: center;
    gap: 25px;
    padding: 30px 0;
    
}

/* STORIES */
.stories {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80px;
    gap: 15px;
    padding: 15px;
    border: 1px solid #222;
    border-radius: 8px;
    overflow-x: scroll; 
}

.story {
    display: grid;
    justify-items: center;
    font-size: 12px;
    color: black;
    
}

.story img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #ff0066;
}

/* POST */
.post {
    display: grid;
    width: 470px;
    background-color: #fbfbfb;
    border: 1px solid #222;
    border-radius: 8px;
    color: black;;
}

.post-header {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    padding: 15px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50px;
}

.post-image img {
    width: 470px;
}

.post-actions {
    display: flex;
    gap: 10px; /* menos espacio entre reacciones */
    padding: 5px 15px; /* menos espacio interno */
    
}

.action{
    display: flex;
    padding: 5px 10px;
    gap: 4px;
    cursor: pointer;
}

.post-actions img {
    width: 32px;
    height: 32px;
}

/* RIGHTBAR */
.suggestions {
    display: grid;
    align-content: start;
    gap: 20px;
    padding: 30px 20px;
    color: black;
    grid-column: 3;
}

.suggestion {
    display: grid;
    grid-template-columns: 40px 1fr 70px;
    align-items: center;
    gap: 10px;
    color: black;
}

.suggestion img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
button {
    background: rgb(128, 156, 200);
    border-radius: 40px;
    cursor: pointer; 
}

